@{
    ViewData["Title"] = "Local Session";
}

<h2>@ViewData["Title"]</h2>
<blockquote>
    <p>Local sessions are running on your local machine. If you want to connect to a remote computer, check out the remote sessions tab.</p>
</blockquote>

<h3>Sources</h3>
<blockquote>
    <p>Source are the modules where the data comes from. They have no input stream, but they produce a single-precision (32 bit) output stream.</p>
</blockquote>
<ul class="nav nav-pills nav-stacked">
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            Sine wave generator<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Activate</a></li>
            <li class="divider"></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Set output format</a></li>
            <li class="divider"></li>
            <li><a href="#">Remove</a></li>
        </ul>
    </li>
    <li class="disabled"><a href="#">8x8 Matrix</a></li>
    <li class="disabled"><a href="#">Mercury-16</a></li>
</ul>

<h3>Filters</h3>
<blockquote>
    <p>Filters expect an input and produce an outpot. Both should be single precision time series.</p>
</blockquote>
<ul class="nav nav-pills nav-stacked">
    <li class="disabled"><a href="#">Fast Fourier Transformation (CPU - FFTW)</a></li>
    <li class="disabled"><a href="#">Fast Fourier Transformation (GPU - clFFT)</a></li>
    <li class="disabled"><a href="#">OpenCV module</a></li>
</ul>

<h3>Sinks</h3>
<blockquote>
    <p>Sinks are modules expecting an input, but not producing an output stream. These are typically file format writers, visual renderers and websocket providers.</p>
</blockquote>
<ul class="nav nav-pills nav-stacked">
    <li class="disabled"><a href="#">RIFF WAVE file writer</a></li>
    <li class="disabled"><a href="#">VTK file writer</a></li>
    <li class="disabled"><a href="#">Gerbil descriptor file and PNG files</a></li>
    <li class="disabled"><a href="#">WebSocket web service</a></li>
</ul>

<a href="#" class="btn btn-primary">Apply changes</a>